<!doctype html>
<!- Temporary header -->
<head>
<title>Welcome to [Company Name]!</title>
<style>
h1 {
font-size: 3em;
}
p {
font-size: 1.5em;
}
</style>
</head>


<title>{% block title %}{% endblock %} - WheelsOnRent</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>WheelsOnRent</h1>
  <ul>
    {% if g.customer %}
      <li><span>{{ g.customer['username'] }}</span>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a>
    {% else %}
      <li><a href="{{ url_for('customer.register') }}">Register</a>
      <li><a href="{{ url_for('customer.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>

<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>

<!- Temporary Body -->
<body>
<h1>Welcome to WheelsOnRent!</h1>
<p>We're so glad you're here. We're here to help you with car rent and related services.</p>
<p>What can we help you with today?</p>
<ul>
<li>Take a look around our website to learn more about what we do.</li>
<li>Contact us to speak with one of our experts.</li>
</ul>
<p>Thank you for choosing WheelsOnRent. We're committed to your satisfaction!</p>
</body>


<!- footer custom -->
<footer>
        <p>&copy; 2023 WheelsOnRent</p>
</footer>
