{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Customers{% endblock %}</h1>
  {% if g.admin %}
    <a class="action" href="{{ url_for('customer.create') }}">New</a>
  {% endif %}
{% endblock %}

{% block content %}
  {% for customer in customers %}
    <article class="post">
      <header>
        <div>
          <h1>{{ customer['name'] }}</h1>
          <div class="about">email {{ customer['email'] }} </div>
        </div>
        {% if g.admin['id'] == customer['admin_id'] %}
          <a class="action" href="{{ url_for('customer.update', id=customer['id']) }}">Edit</a>
        {% endif %}
      </header>
      <p class="body">Body of Customer to be edited...</p>
    </article>
    {% if not loop.last %}
      <hr>
    {% endif %}
  {% endfor %}
{% endblock %}
