{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Customer Registration{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Please, fill out!</label>
    <label for="username">Username</label>
    <input name="username" id="title" value="{{ request.form['username'] }}" required>
    <label for="name">Name</label>
    <input name="name" id="#" value="{{ request.form['name'] }}" required>
    <label for="last_name">Last Name</label>
    <input name="last_name" id="#" value="{{ request.form['last_name'] }}" required>
    <label for="address">Address</label>
    <input name="address" id="#" value="{{ request.form['address'] }}" required>
    <label for="phone_number">Phone Number</label>
    <input name="phone_number" id="#" value="{{ request.form['phone_number'] }}" required>
    <label for="email">Email</label>
    <input name="email" id="#" value="{{ request.form['email'] }}" required>
    <label for="password">Password</label>
    <input name="password" id="#" value="{{ request.form['password'] }}" required>
    <input type="submit" value="Save">
  </form>
{% endblock %}
