{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ customer['name'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="title">Customer</label>
    <input name="name" id="name"
      value="{{ request.form['name'] or customer['name'] }}" required>
    <input name="email" id="email" value="{{ request.form['email'] or customer['email'] }}" required>
    <input type="submit" value="Save">
  </form>
  <hr>
  <form action="{{ url_for('customer.delete', id=customer['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}
